// Colors
$home-bg-color: #79a0c9;
$main-bg-color: #f7e3b7;
$h1-color: #211f36;
$h4-color: #211f36;
$nav-item-color: #4f4843;
$nav-hover-color: #cd2715;

// Margins & Padding
$default-margin: 20px;
$default-padding: 20px;

// Fonts & Text Styling
$font-stack: Trebuchet MS, Arial, sans-serif;
$default-font-size: 25px;

// Images
$default-img-height: 100px;
$default-img-width: 100px;
