
  
  // SCSS Function that will set the footer text size.
  @function set-font-size($size, $is_title) {
    @if($is_title == true) {
        $size: 50px;
        @return $size;
    } @else {
        $size: 25px;
      @return $size;
    }
    @error "Invalid font size: `#{$size}`.";
  }
  
  // SCSS Mixin
  @mixin set-bg {
    background-color: $home-bg-color;
  }
  
  @mixin set_text_center{
    text-align: center;
  }

  @mixin footer-txt-size($size, $is_title){
    font-size: set-font-size($size, $is_title)
  }
