@import "btnConfig";
@import "utilities";
@import "config";


body {
    @include set-bg;
    @include set_text_center;
    font-family: $font-stack;
    line-height: 1;
}

main {
    margin-right: $default-margin;
    margin-left: $default-margin;
    background-color: $main-bg-color;
    padding: $default-padding
}

h1 {
  color: $h1-color;
}

h4 {
  color: $h4-color;
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
    }
  
    li {
        display: inline;
        margin-right: 25px;
    }
  
    a {
        color: $nav-item-color;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        text-align: justify;

        &:hover {
            color: $nav-hover-color;
        }
    }
}

.instructions {
    @include set_text_center;
    margin-right: $default-margin;
    margin-left: $default-margin;
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    font-size: 1.3em;
}

#errorPageText {
    font-size: 2em;
}

footer {
    margin-top: $default-margin;
    margin-right: $default-margin;
    margin-left: $default-margin;
    background-color: $main-bg-color;
    color: scale-color($main-bg-color, $lightness: -50%);
    padding-top: $default-padding;
    padding-bottom: $default-padding;

    p {
        @include footer-txt-size($default-font-size, true);
    }
    li {
        list-style-type: none;
        @include footer-txt-size($default-font-size, false);

        &:hover {
            color: $nav-hover-color;
        }
    }
}
  
iframe {
    height: 593px;
    width: 1050px;
}

image {
    height: $default-img-height;
    width: $default-img-width;
}

.stripeTest {
    background: linear-gradient(
    to bottom,
    #f5f8e7,
    #f5f8e7 97%,
    #92b7df 40%,
    #92b7df
);
    background-size: 100% 40px;
}

.mockImg {
    border: solid;
    border-radius: 45%;
}
  
.required-field {
    color: red;
}