body {
    background-color: #C0AB91;
    text-align: center;
  }

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #F7E3B7;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: #4F4843;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: #cd2715;

}

#errorPageText {
  font-size: 2em;
}