body {
  background-color: #79a0c9;
  text-align: center;
}

h1 {
  color: #211f36;
}

h4 {
  color: #211f36;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #f7e3b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: #4f4843;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
}

nav a:hover {
  color: #cd2715;
}

.instructions {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

#errorPageText {
  font-size: 2em;
}

footer {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #f7e3b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
}

iframe {
  height: 593px;
  width: 1050px;
}

image {
  height: 100px;
  width: 100px;
}
