body {
    background-color: #C0AB91;
    text-align: center;
  }

h1 {
  color: #cd2715;
}

h4 {
  color: #4F4843;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #F7E3B7;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;

}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: #4F4843;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: #cd2715;

}

.instructions {
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

#errorPageText {
  font-size: 2em;
}

footer {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #F7E3B7;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

li {
  list-style-type: none;
}

iframe {
  height: 593px;
  width: 1050px;
}

image {
  height: 100px;
  width: 100px;
}